@model IEnumerable<Museum.WebApp.Models.ExhibitViewModel>
@{
    ViewBag.Title = "Exhibits";
}

<div class="content-wrapper">
    <article class="exhibit-list">
        <h2>Exhibits</h2>
        @foreach(var exhibit in Model)
        {
            <div>
                <h3><a href="/home/gallery/@exhibit.Id">@exhibit.Title</a></h3>
            </div>
        }
    </article>
    <aside class="tags">
        <h2>Exhibits by Tag</h2>
        <div id="TagCloud"></div>
    </aside>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON("/api/tags", null, function (data) {
            if (data) {
                data.forEach(function (tag) {
                    $('#TagCloud').append('<a href="/home/Exhibits/' + tag + '" class="tag-link">' + tag + '</a>');
                });                
            }
        });
    });
</script>