@model IEnumerable<Museum.WebApp.Models.ExhibitViewModel>
@{
    ViewBag.Title = "Exhibits";
}

<h2>Exhibits</h2>
@foreach(var exhibit in Model)
{
    <div>
        <a href="/home/gallery/@exhibit.Id">@exhibit.Title</a>
    </div>
}
<div><h2>Exhibits by Tag</h2>
<div id="TagCloud" style="width:300px;">
    
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON("/api/tags", null, function (data) {
            if (data) {
                data.forEach(function (tag) {
                    $('#TagCloud').append('<a href="/home/Exhibits/' + tag + '">' + tag + '</a>&nbsp;&nbsp;');
                });                
            }
        });
    });
</script>