@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Myseum GooglePlay</title>
</head>
<body>
<img src="~/Images/Myseum---Android-Apps-on-Google-Play3.jpg" alt="Google Play" />
</body>
</html>
