@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Myseum ITunes</title>
</head>
<body>
    <img src="~/Images/Myseum-on-the-App-Store-on-iTunes3.jpg" alt="iTunes"/>
</body>
</html>
