body {
    height:100%;
}

#pageHeader {
    height: 200px;
    width: 100%;
}

#mainPageLeftColumn {
    width: 50%;
    float: left;
    height: 100%;
}

#mainPageRightColumn {
    width: 50%;
    float: right;
    height: 100%;
}

#pageFooter {
    clear:both;
    height: 100px;
    
}
